@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CreativeIndustries.Resources
@model CreativeIndustries.API.DXS.MailDataViewModel
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("email");
}

<h4 class="text-info mt-4">@SharedLocalizer.GetLocalizedHtmlString("sendEmail")</h4>
<hr class="text-info" />
<div class="alert alert-info alert-dismissible fade show text-secondary indexText" role="alert">
    <h5 class="text-info mt-3">This is an Email sender page!</h5>

    <a asp-controller="Email" asp-action="SendEmail" class="btn btn-outline-info mt-2">Go to Send Email</a>
    <a asp-controller="Email" asp-action="SendEmailToAllUsers" class="btn btn-outline-info mt-2">Go to Send Email</a>

</div>
