@using CreativeIndustries.Resources
@inject LocService SharedLocalizer

<div class="alert alert-info" role="alert" id="successID">
    <h4 class="class-info">
        @SharedLocalizer.GetLocalizedHtmlString("confirmation")
    </h4>
    <i class="bi bi-check-circle"></i>&nbsp;  @SharedLocalizer.GetLocalizedHtmlString("sentSuccessfully")
</div>